.form-control .amount-input {
  margin-top: 20px;
}

.form-control .title-input label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.form-control .amount-input label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 1.5rem;
}
.form-control input,
.form-control select {
  font: inherit;
  padding: 0.3rem;
  border: 1px solid rgb(0, 0, 0);
  width: 16rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #ccc;
  background-color: #ccc;
}

.amount-input button {
  font: inherit;
  background-color: #dbdbdbfd;
  color: black;
  font-size: large;
  font-weight: 600;
  border: 1px solid black;
  padding: 0.3rem 4rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 60px;
}

button:hover,
button:active {
  background-color: #3c3b3d15;
  border-color: #3c3b3d15;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  margin: 0;
  color: #b40e0e;
}
